#!/bin/bash
cd /tmp
curl -sSO https://dl.google.com/cloudagents/install-monitoring-agent.sh
bash install-monitoring-agent.sh # for memory usage in dashboard
apt install -y linux-perf-4.9 emacs-nox # for perf top

gsutil cp gs://${BUCKET}/thepackage.tar.gz .
tar xf thepackage.tar.gz
# vars are unused
cat <<'EOF' > /etc/vars.sh
BUCKET=${BUCKET}
TPU_NAME=${TPU}
EOF
